body {
    margin: 0;
    font-family: 'SUSE Mono', monospace;
    font-weight: 600;
}

#player-info {
    position: absolute;
    top: 15px;
    right: 890px;
    background: #101010a6;
    padding: 7px 9px;
    min-width: 180px;
    color: white;
    font-size: 12px;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0.6px solid #d1759b;
    box-shadow: 0 0 2px #d1759b;

    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to  { opacity: 1; }
}

.info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transform: translateY(-1px);
    letter-spacing: 1.4px;
}

.separator {
    color: #c9c8c8;
    font-weight: normal;
}

#player-alert {
    position: absolute;
    top: 15px;
    right: 700px;
    /* vedľa hlavného boxu */
    background: #101010a6;
    padding: 7px 9px;
    min-width: 150px;
    color: white;
    font-size: 12px;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid red;
    box-shadow: 0 0 3px red;

    opacity: 0;
    transition: opacity 0.5s ease;
}

#player-alert.visible {
    opacity: 1;
}

.alert-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.exclamation {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.alert-name {
    letter-spacing: 1px;
}
