body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#player-info {
  position: absolute;
  top: 20px;
  left: 20px;
}

table {
  border-collapse: collapse;
  background: #111;
  color: white;
  font-size: 14px;
  min-width: 250px;
}

th, td {
  padding: 8px 12px;
  text-align: center;
  border: 1px solid #333;
}

th {
  background: #000;
  color: #fff;
}

thead tr {
  border-bottom: 2px solid #cf76ae;
}
